
@model IndexViewModel

@{
    ViewData["Title"] = "جزییات خبر";
}


<div id="container" class="container-fluid">
    <!--start header-->
    @await Html.PartialAsync("~/Views/Shared/PartialViews/_HeaderPartial.cshtml")
    <!--start  navbar-->
    @await Html.PartialAsync("~/Views/Shared/PartialViews/_NavbarPartial.cshtml")
    <!--End navbar-->
    <!--start content-->
    <div class=" mt-3" id="content">
        <!--start content-body-->
        <div class="row" id="content-body">
            <!--start main content-->
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                <div id="newsDetails">
                    <!--Start NewsDetails-->
                    @await Html.PartialAsync("~/Views/Shared/PartialViews/_NewsdetailPartial.cshtml", Model.NewsDetails)
                    <!--End NewsDetails-->
                </div>
                <!--Start comments-->
                @await Html.PartialAsync("~/Views/Shared/PartialViews/_CommentPartial.cshtml")
                <!--End commets-->

            </div>   <!--end main content-->
            <!--start list second part-->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <!--start last-info-->
                <!--چون این پارشال ویو از چندین مدل تغذیه میکند مدلی در اینجا به ان معرفی نمیکنیم و در پارشال مدل داینامیک میکیریم-->
                @await Html.PartialAsync("~/Views/Shared/PartialViews/_LastInfoPartial.cshtml")
                <!--end lst-info-->
                <!--start newspapers-->
                @await Html.PartialAsync("~/Views/Shared/PartialViews/_NewspapersPartial.cshtml")
                <!--end newspapers-->



            </div><!--end list second part-->
        </div><!--end content-body-->
    </div> <!--end content-->
    <!--start footer-->
    @await Html.PartialAsync("~/Views/Shared/PartialViews/_FooterPartial.cshtml")
    <!--End footer-->
</div><!--end container-->

@section scripts{
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });
    </script>


    <script>
        //نظرات
    </script>
}

