@model Comment
@{
    Layout = null;
}
@Html.AntiForgeryToken()
<form asp-controller="Comment" asp-action="Delete">
    @*<div class="modal-header">
            <button type="button" class="close pull-left" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">حذف دسته بندی</h4>
        </div>*@
    @await Html.PartialAsync("~/Views/Shared/PartialViews/ModalPartial/_ModalHeaderPartial.cshtml",
    new ModalHeader { Heading = "حذف نظر", BootstrapVersion = BootstrapVr.version3 })

    <div class="modal-body form-horizontal">
        <span> آیا از حذف دسته بندی</span>
        <span class="text-danger">" @Model.Message "</span>
        <span> مطمئن هستید؟</span>
    </div>


    <div class="modal-footer" style="text-align:left;">
        <button class="btn btn-default" type="button" data-dismiss="modal">برگشت</button>
        <button class="btn btn-danger" type="submit">
            حذف
        </button>
    </div>

</form>
