
@inject  Web90TvCore2.Models.UnitOfWork.IUnitOfWork Context

@{ 
    // باشد var  حتما بایدازنوع  
    //نطرات ایید نشده را در ایکون  زنگ اعلان نمایش میدهد
     var cmList =await Context.CommentRepUW.Get(c => c.status == false);
}

<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>

    <!--todo: tagHelper asp-action ,... علت کارنکردن   -->
    <!-- Delete This after download -->
    <a href="/Home" class="btn hidden-xs"
       style="margin:6px 100px;padding:9px 50px;background-color:#d61577;border-color:#ad0b5d;font-weight:bold;color:#FFF">
        نمایش سایت
    </a>
    <!-- End Delete-->



    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

            <!-- Notifications: style can be found in dropdown.less -->
            @*//نطرات ایید نشده را در ایکون  زنگ اعلان نمایش میدهد*@
            <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <span class="label label-warning" style="padding:3px;">@cmList.Count()</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">@cmList.Count() کامنت جدید</li>
                    <li>
                        <!-- inner menu: contains the actual data -->
                        <ul class="menu">

                            @foreach (var item in cmList)
                            {
                                <li>
                                    <a href="#">


                                        <i class="fa fa-user-circle"></i>
                                        <span style="color:darkblue; font-size:12px;">
                                            @item.FullName گفت
                                        </span>
                                        <br />
                                        <i class="fa fa-comment-o"></i>
                                        <span style="color:black; font-size:11px;">
                                            @item.Message
                                        </span>


                                    </a>
                                </li>
                            }


                        </ul>
                    </li>
                    <li class="footer"><a asp-controller="Comment" asp-action="Index">نمایش همه</a></li>
                </ul>
            </li>


            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="~/adminpanelfiles/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                    <span class="hidden-xs">حسین نیکبخت</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="~/adminpanelfiles/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                        <p>
                            حسین نیکبخت
                            <small>مدیریت کل سایت</small>
                        </p>
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#">صفحه من</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">فروش</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">دوستان</a>
                            </div>
                        </div>
                        <!-- /.row -->
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="#" class="btn btn-default btn-flat">پروفایل</a>
                        </div>
                        <div class="pull-right">
                            <a href="#" class="btn btn-default btn-flat">خروج</a>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
        </ul>
    </div>
</nav>