@model SiteSetting

<div class="row center-block box box-primary" style="box-shadow:2px 2px 7px 3px gray;">
    <div class="col-md-4 col-md-offset-4" style="margin-bottom:15px; margin-top:15px;">
        <form asp-area="AdminPanel" asp-controller="SiteSetting" asp-action="SetSetting" method="post">

            @if (Model!=null)
            {
                ///----  اگر در حالت ویرایش تنظیمات بودیم ---
                <input asp-for="Id" class="hidden">
            }

            <div class="form-group">
                <label asp-for="SiteTitle" class="control-label"></label>
                <input asp-for="SiteTitle" class="form-control" />
                <span asp-validation-for="SiteTitle" class="text-danger"></span>
            </div>

            @* متاتگ ها *@
            <div class="form-group">
                <label asp-for="MetaTag" class="control-label"></label>
                <div>
                    <textarea asp-for="MetaTag" class="form-control BorderElement"></textarea>
                </div>
            </div>

            @* متای توضیحات *@
            <div class="form-group">
                <label asp-for="MetaDescription" class="control-label"></label>
                <div>
                    <textarea asp-for="MetaDescription" class="form-control BorderElement"></textarea>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="ثبت اطلاعات" class="btn btn-success" />

            </div>
        </form>

        @if (ViewBag.SuccessMessage != "")
        {
            <span style="color:green;">
                @ViewBag.SuccessMessage
            </span>
        }


    </div>
</div>