
<div class="col-xl-2 col-lg-2 col-md-2 d-none d-md-block advers">

    <div class="text-center mb-2 ">
        <img src="~/image/tabligh4.gif"  />
    </div>

    <div class="text-center mb-2">
        <img src="~/image/tabligh2.gif" />
    </div>

    <div class="text-center mb-2">
        <img src="~/image/tabligh1.gif" />
    </div>

    <div class="text-center mb-2">
        <img src="~/image/tabligh3.gif" />
    </div>

    <div class="text-center mb-2">
        <img src="~/image/tabligh5.gif" />
    </div>
</div>