<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 footer-text">
                <span>سایت رسمی برنامه نود با تهیه کنندگی عادل فردوسی پور و پوشش اخبار مسابقات فوتبال، نتایج زنده، جدول ها و ویدئوهای مسابقات لیگ ایران، اروپا و سایر نقاط جهان</span>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 clearfix">
                <div id="footer-icon" class="float-left">
                    <img src="image/email-icon.png" />
                    <img src="image/rss-icon.png" />
                    <img src="image/twitter-icon.png" />
                </div>
            </div>
        </div>

        <div>
            <div class="div-line-white  text-center">
                <span>
                    طراحی، توسعه و پشتیبانی توسط&nbsp;
                    <a href="#">
                        <img src="image/ana.png" />
                    </a>
                    &nbsp;
                    استفاده از مطالب سایت تنها با ذکر منبع مجاز است.

                </span>
            </div>
        </div>
    </div>
</div>