<!--________________________________  Header  ____________________________________________________-->
<!--  xs,sm برای اینکه در سایز
 استقاده کردیمd-none d-md-block  وبزرگتر هدر نمایش داده شود از دستورmd  هدر حذف شود و در سایز -->

<div id="header" class=" d-none d-md-block pt-2 ">

    <!--برای اینکه فاصله بگیرند از کنار و وسط قرار بگیرند-->
    <div class="container">
        <!--  row به جای کانتینرر میتوانستیم به جای
        بدهیم خودش کار اینکه دیوهای داخل دیو  d-flex  justify-content-between or around  به همراه کلاس    d-flex را مرتب کند انجام میداد-->
        <!--  قرار داشته باشندrow   و جول ستون بندی را پیاده سازی کنیم حتما باید بقیه دیو ها داخل دیوی با کلاس  col  برای اینکه بتوانیم خاصیت-->
        <div class="row ">
            <div class="col-md-3 col-lg-3 ">

                <!--############## لوگوی 90تی وی و متن زیر ان ##############  -->
                <!--    استفاده میکنیم row برای اینکه زیرهم بیفتند و هر دیو یک سطر از دیو پدر خود را اشال کند از -->
                <!-----###########################################------>
                <!--   باشد row or d-flex or این دستور باید حتما همراه justify-content-start از دستور زیر استفاده کردیم  برای اینکه مطمين باشیم همیشه تصویر و متن در سمت راست باشند -->
                <!--به خود تگ ایمیج و تگ اسپن و متن دادیم-->

                <div class="row justify-content-start">
                    <img src="~/image/index.png" alt="90tv" />
                </div>
                <div class="row justify-content-start ">
                    <span>وب سایت رسمی 90</span>
                </div>
            </div>

            <!-- استفاده کردیم  text-cnter برای اینکه وسط چین شوپ محتویات دیو از دستور-->
            <div class="col-md-6 col-lg-6 text-center ">
                <!--------------------تبلیغات-------------------------------->
                <!-- استفاده میکنیم  row  برای اینکه زیرهم بیفتند و هر دیو یک سطر از دیو پدر خود را اشال کند از  -->
                <div class="d-flex justify-content-center"><img src="~/image/logo.gif" alt="Alternate Text" /></div>
            </div>

            <div class="col-md-3 col-lg-3 ">
                <!--   justify-content-end  برای اینکه مطمين باشیم همیشه تصویر و متن در سمت چپ باشد ناز دستور زیر استفاده کردیم  -->
                <div class="row justify-content-end">
                    <img src="~/image/index1.png" alt="chanel 3" />
                </div>
                <br />
                <div class="row justify-content-end">
                    <span>شبکه سه سیما</span>
                </div>

            </div>
        </div>
    </div>
</div>