<div id="last-video">
    <div>
        <span class="news-header">اخرین ویدوها</span>
        <div class="hr-divider"></div>
    </div>
    <div id="video-content">
        <div class="row">
            <div class="col-6 col-sm-6 col-xl-4">
                <a href="#">
                    <div class="fontawsome-transition">
                        <img src="image/v1.jpg" class="img-fluid" />
                        <span class="fa fa-play-circle"></span>
                    </div>
                    <div class="video-caption col-lg-12">
                        همه ۱۸ گل رونالدو در تورنمنت های مهم برای تیم ملی پرتغال

                    </div>
                </a>
            </div>

            <div class="col-6 col-sm-6 col-xl-4">
                <a href="#">
                    <div class="fontawsome-transition">
                        <img src="image/v2.jpg " class="img-fluid" />
                        <span class="fa fa-play-circle"></span>
                    </div>
                    <div class="video-caption col-lg-12">
                        سوپر اسلوموشن جالب از برخورد توپ به صورت
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-xl-4">
                <a href="#">
                    <div class="fontawsome-transition">
                        <img src="image/v3.jpg" class="img-fluid" />
                        <span class="fa fa-play-circle"></span>
                    </div>
                    <div class="video-caption col-lg-12">
                        همه ۱۸ گل رونالدو در تورنمنت های مهم برای تیم ملی پرتغال
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-xl-4">
                <a href="#">
                    <div class="fontawsome-transition">
                        <img src="image/v1.jpg" class="img-fluid" />
                        <span class="fa fa-play-circle"></span>
                    </div>
                    <div class="video-caption col-lg-12">
                        همه ۱۸ گل رونالدو در تورنمنت های مهم برای تیم ملی پرتغال

                    </div>
                </a>
            </div>

            <div class="col-6 col-sm-6 col-xl-4">
                <a href="#">
                    <div class="fontawsome-transition">
                        <img src="image/v2.jpg " class="img-fluid" />
                        <span class="fa fa-play-circle"></span>
                    </div>
                    <div class="video-caption col-lg-12">
                        سوپر اسلوموشن جالب از برخورد توپ به صورت
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-xl-4">
                <a href="#">
                    <div class="fontawsome-transition">
                        <img src="image/v3.jpg" class="img-fluid" />
                        <span class="fa fa-play-circle"></span>
                    </div>
                    <div class="video-caption col-lg-12">
                        همه ۱۸ گل رونالدو در تورنمنت های مهم برای تیم ملی پرتغال
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-xl-4">
                <a href="#">
                    <div class="fontawsome-transition">
                        <img src="image/v1.jpg" class="img-fluid" />
                        <span class="fa fa-play-circle"></span>
                    </div>
                    <div class="video-caption col-lg-12">
                        همه ۱۸ گل رونالدو در تورنمنت های مهم برای تیم ملی پرتغال

                    </div>
                </a>
            </div>

            <div class="col-6 col-sm-6 col-xl-4">
                <a href="#">
                    <div class="fontawsome-transition">
                        <img src="image/v2.jpg " class="img-fluid" />
                        <span class="fa fa-play-circle"></span>
                    </div>
                    <div class="video-caption col-lg-12">
                        سوپر اسلوموشن جالب از برخورد توپ به صورت
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-xl-4">
                <a href="#">
                    <div class="fontawsome-transition">
                        <img src="image/v3.jpg" class="img-fluid" />
                        <span class="fa fa-play-circle"></span>
                    </div>
                    <div class="video-caption col-lg-12">
                        همه ۱۸ گل رونالدو در تورنمنت های مهم برای تیم ملی پرتغال
                    </div>
                </a>
            </div>
        </div>
        <!--راه۱-->
        <div class="mt-3">
            <!--<!--برای اینکه فلوت بیرون از دیو اصلی یعنی اخرین ویدوها نیفتد حتما باید از کلاس
            clearfix
            درالمنت پدر ان استفاده کنیم-->
            <div class="form-group clearfix">
                <button type="button" class="btn btn-secondary btn-more-video float-left">ویدیو های بیشتر</button>
            </div>
        </div>
        <!--راه 2-->
        <!--<div class="d-flex mb-3">
            <div class="form-group ">
                <button type="button" class="btn btn-secondary btn-more-video ">ویدیو های بیشتر</button>
            </div>
        </div>-->

    </div>
</div>
