<div class="last-info">
    <span class="news-header ul-title-tabs-color">آخرین مطالب</span>
    <div class="hr-divider"></div>
    <!--nav tabs-->
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="#last-news" class="nav-link active" data-toggle="tab">آخرین اخبار</a></li>
        <li class="nav-item"><a href="#domestic-news" class="nav-link ul-title-tabs-color" data-toggle="tab">داخلی</a></li>
        <li class="nav-item"><a href="#foreign-news" class="nav-link ul-title-tabs-color" data-toggle="tab">خارجی</a></li>
        <li class="nav-item"><a href="#exlusive-news" class="nav-link" data-toggle="tab">اختصاصی</a></li>
    </ul>
    <!--nav panes-->
    <div class="tab-content">
        <div id="last-news" class="tab-pane container active">
            <ul class="list-list">
                <li>
                    <span class="badge badge-success">07:15</span>
                    <a href="#">آخرین اخبار مهم کشور از مهمترین منابع خبری فارسی زبان</a>
                </li>
                <li>
                    <span class="badge badge-success">08:45</span>
                    <a href="#">آخرین اخبار مهم کشوری فارسی زبان</a>
                </li>
                <li>
                    <span class="badge badge-success">09:15</span>
                    <a href="#">فارسی زبان </a>
                </li>
                <li>
                    <span class="badge badge-success">07:15</span>
                    <a href="#">آخرین اخبار مهم کشور از مهمترین منابع خبری فارسی زبان</a>
                </li>
                <li>
                    <span class="badge badge-success">08:45</span>
                    <a href="#">آخرین اخبار مهم کشوری فارسی زبان</a>
                </li>
                <li>
                    <span class="badge badge-success">09:15</span>
                    <a href="#">فارسی زبان </a>
                </li>
                <li>
                    <span class="badge badge-success">07:15</span>
                    <a href="#">آخرین اخبار مهم کشور از مهمترین منابع خبری فارسی زبان</a>
                </li>
                <li>
                    <span class="badge badge-success">08:45</span>
                    <a href="#">آخرین اخبار مهم کشوری فارسی زبان</a>
                </li>
                <li>
                    <span class="badge badge-success">09:15</span>
                    <a href="#">فارسی زبان </a>
                </li>
                <li>
                    <span class="badge badge-success">07:15</span>
                    <a href="#">آخرین اخبار مهم کشور از مهمترین منابع خبری فارسی زبان</a>
                </li>
                <li>
                    <span class="badge badge-success">08:45</span>
                    <a href="#">آخرین اخبار مهم کشوری فارسی زبان</a>
                </li>
                <li>
                    <span class="badge badge-success">09:15</span>
                    <a href="#">فارسی زبان </a>
                </li>
                <li>
                    <span class="badge badge-success">07:15</span>
                    <a href="#">آخرین اخبار مهم کشور از مهمترین منابع خبری فارسی زبان</a>
                </li>
                <li>
                    <span class="badge badge-success">08:45</span>
                    <a href="#">آخرین اخبار مهم کشوری فارسی زبان</a>
                </li>
                <li>
                    <span class="badge badge-success">09:15</span>
                    <a href="#">فارسی زبان </a>
                </li>
            </ul>

        </div>
        <div id="domestic-news" class="tab-pane container">2</div>
        <div id="foreign-news" class="tab-pane container">3</div>
        <div id="exclusive-news" class="tab-pane container">4</div>
    </div>

</div>