

@model LoginViewModel

<div id="poll">
    <span class="news-header ul-title-tabs-color">فرم ورود</span>
    <div class="hr-divider"></div>

    <form asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="" id="frmLogin">

        <div class="form-group row ">
            <label asp-for="UserName" class="col-md-4 col-sm-12 col-form-label"></label>
            <div class="col-md-7 col-sm-12 pr-md-0">
                <input asp-for="UserName" type="text" class="form-control" id="inputUserName" placeholder="نام کاربری">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Password" class="col-md-4 col-sm-12 col-form-label pl-0">  رمز عبور :</label>
            <div class="col-md-7 col-sm-12 pr-md-0">
                <input asp-for="Password" type="text" class="form-control" id="inputUserName" placeholder="رمز عبور">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row px-0 mx-0">

            <div class="form-check col-md-7 col-sm-12 offset-md-4 ">

                <div class="checkbox-inline ">
                    <label asp-for="RememberMe"  class="form-check-label">
                        <input asp-for="RememberMe" >
                        <!--دکمه چک باکس نمایش میدهد-->
                        @Html.DisplayNameFor(m => m.RememberMe) 
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row px-0 mx-0 justify-content-start" style="direction:ltr">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success pt-1 pb-1 ">ورود</button>
            </div>
        </div>
    </form>
</div>



<!--to do : تنظیم دکمه و. چک باکس تمام نشد-->