

<div id="menu">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand  fa fa-home pr-2 ml-2" href="#"></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--With the move to flexbox in v4, you can use margin utilities like .mr-auto or .ml-auto to force sibling columns away from one another-->
            <ul class="navbar-nav ">

                <li class="nav-item ">
                    <a class="nav-link active" href="#">اخبار ورزشی <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">اخبار داغ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">نقل وانتقالات</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">نمره بازیکنان</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        تیم ها
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">پرسپولیس</a>
                        <a class="dropdown-item" href="#">استقلال</a>
                        <a class="dropdown-item" href="#">تراکتورسازی</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">بازیکنان برتر</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">برترین گل ها</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="#">روزنامه</a>
                </li>
            </ul>


            <!--ندادیم هم مشکلی ندارد form-inline-->
            <form class="form-inline my-2 my-lg-0 mr-auto justify-content-center" asp-action="NewsSearch">
                <div class="input-group input-group-sm ">
                    <input class="form-control" type="search" id="txtSearch" name="txtSearch" placeholder="جستجو.." aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">بگرد!</button>
                    </div>
                </div>
            </form>

        </div>
    </nav>
</div>