<div id="poll">
    <span class="news-header ul-title-tabs-color">نظر سنجی</span>
    <div class="hr-divider"></div>
    <form>
        <!--start "poll-content-->
        <div id="poll-content">
            <div id="poll-statement">
                نتیجه بازی پرپولیس - تراکتور سازی
            </div>
            <table>
                <tr>
                    <td>
                        <div class="form-group form-check-inline">
                            <label class="form-check-label">
                                <input value="" type="radio" name="p" class="form-check-input" />
                                برد پرسپولیس
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" name="p" class="form-check-input" />
                                مساوی
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group form-check-inline">
                            <label class="form-check-label">
                                <input value="" type="radio" name="p" class="form-check-input" />
                                برد تراکتورسازی
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </div> <!--end poll-content-->
    </form>
    <div class="d-flex justify-content-end mb-3 ml-4">
        <button type="button" class="btn btn-success pt-1 pb-1">ثبت نطر</button>
    </div>
</div>