<div class="carousel slide" id="main-carousel" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div>
                <img src="image/slider1.jpg" />
                <div class="arousel-inner">
                    پرسپولیس با عبور از السد می‌تواند سومین تیم ایرانی حاضر در فینال
                    لیگ قهرمانان آسیا باشد. تا پیش از این هر گاه تیمهای ایرانی در بازی رفت نیمه نهایی
                    نتیجه لازم را گرفتند در دیدار برگشت موفق به حفظ آن شدند.

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div>
                <img src="image/slider2.jpg" />
                <div class="arousel-inner">
                    برانکو ایوانکوویچ، سرمربی تیم فوتبال پرسپولیس مدعی شد
                    با سرخپوشان تهرانی بهترین روزها را سپری می‌کند.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div>
                <img src="image/slider3.jpg" />
                <div class="arousel-inner">
                    پرسپولیس با عبور از السد می‌تواند سومین تیم ایرانی حاضر در
                    فینال لیگ قهرمانان آسیا باشد. تا پیش از این هر گاه
                    تیمهای ایرانی در بازی رفت نیمه نهایی نتیجه لازم را گرفتند در دیدار برگشت موفق به حفظ آن شدند.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div>
                <img src="image/slider4.jpg" />
                <div class="arousel-inner">
                    برانکو ایوانکوویچ، سرمربی تیم فوتبال پرسپولیس مدعی شد
                    با سرخپوشان تهرانی بهترین روزها را سپری می‌کند.
                </div>
            </div>
        </div>
    </div>
    <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#main-carousel" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>