
@model IEnumerable<News>

<div id="m-slider">
    <!--اسلایدر بوت استرپ-->
    <div class="carousel slide carousel-fade" data-ride="carousel" id="main-carousel">

        <div class="carousel-inner">
            @{
                //برای اینکه عکس ها تک نشان داده شود و همکی باهم
                //هرعکسی که کلاس اکتیوبگیرد نمایش داده میشود
                bool isActive = true;
            }
            @foreach (var item in Model)
            {
                <div class="carousel-item @(isActive?Html.Raw("active") : Html.Raw(" ")) ">
                   
                        <img src="~/upload/indexImage/@item.IndexImage" style="border-radius:0;"/>
                        <div class="text-light bg-dark h-auto">
                            <span class="font-weight-light">  @item.Abstract</span>
                        </div>
                </div>
                isActive = false;

            }
        </div>

        <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a href="#main-carousel" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>