


@{
    Layout = null;
}

<form asp-controller="Advertising" asp-action="ChangeStatus" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">حذف دسته بندی</h4>
    </div>

    <div class="modal-body form-horizontal">
        آیا از تغییر وضعیت نمایش تبلیغ مطمئن هستید؟
    </div>


    <div class="modal-footer" style="text-align:left;">
        <button class="btn btn-default" type="button" data-dismiss="modal">برگشت</button>
        <button class="btn btn-danger" type="submit">
            تغییر وضعیت
        </button>
    </div>

</form>