
@model BootstrapModel

<div class="modal fade" id="@Model.Id" tabindex="-1" role="dialog" aria-labelledby="@Model.Arialabelledby" aria-hidden="true">
    <div class="modal-dialog @Model.ModalSizeClass">
        <div class="modal-content">

        </div>
    </div>
</div>


